<?xml version="1.0"?>
<launch>
  <!-- possible value: 0 or 4 for now-->
  <arg name="file_num" default="0"/>

  <arg name="inc" default="10"/>
  <!-- launch the main node-->
  <node name="wrench_from_csv" pkg= "contact_analysis" type= "wrench_from_csv" output="screen">
    <param name="csv_file" type="str" value="$(find contact_test_data)/data/wrench$(arg file_num)_sample.csv"/>
    <param name="inc" type="int" value="$(arg inc)"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="sensor_bridge" args="0.1 0.1 0 0 0 0 1 /map /force_sensor 100"/>
</launch>
