<?xml version="1.0"?>
<launch>
  <arg name="csv_file" default="/home/anthony/tmp/sarafun_data/ibd_v2/insertion_by_deformation_annotated_data/data01_split/wrench_complete.csv"/>

  <!--<arg name="csv_file" default="/tmp/trial/wrench_complete.csv"/>-->

  <!--<arg name="slice_file" default="/home/anthony/tmp/sarafun_data/ibd_v2/insertion_by_deformation_annotated_data/data01_split/output_slices.txt"/>-->

<arg name="slice_file" default="/home/anthony/tmp/sarafun_data/ibd_v2/insertion_by_deformation_annotated_data/data01_split/output_slices.txt"/>

  <arg name="label_file" default="/home/anthony/tmp/sarafun_data/ibd_v2/insertion_by_deformation_annotated_data/data01_split/label.txt"/>

  <arg name="inc" default="10"/>
  <!-- launch the main node-->
  <node name="wrench_from_csv" pkg= "contact_cop" type= "wrench_from_csv" output="screen">
 	<!-- period (s) to be used in the visualization -->
    <param name="csv_file" type="str" value="$(arg csv_file)"/>
    <param name="slice_file" type="str" value="$(arg slice_file)"/>
    <param name="label_file" type="str" value="$(arg label_file)"/>
    <param name="inc" type="int" value="$(arg inc)"/>
    <!-- whether or not the wrench should be published as well -->
  </node>
  <node pkg="tf" type="static_transform_publisher" name="sensor_bridge" args="0.1 0.1 0 0 0 0 1 /map /force_sensor 100"/>
</launch>
